div {
    border-style: solid;
    border-width: 5px;
    border-color: #269abc;
    padding: 15px;
}

.container {
    border-color: black;
}

.row {
    border-color: navy;
}

.list-group-item{
    border: 0;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #269abc;
}

body{
    background-color: #245269;
}